In [3]:
#!pip install sqlite3
#!pip install sqlalchemy
#!pip install beautifulsoup4

Requirement already satisfied: sqlalchemy in c:\users\henrique\anaconda3\lib\site-packages (1.3.20)

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

Requirement already satisfied: sqlalchemy in c:\users\henrique\anaconda3\lib\site-packages (1.3.20)
Requirement already satisfied: beautifulsoup4 in c:\users\henrique\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\henrique\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)

In [4]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd
import numpy as np
import re
import sqlite3
from sqlalchemy import create_engine

In [15]:
db = create_engine ('sqlite:///db_olist.sqlite', echo=False)
conn = db.connect()

# Customer DB

In [21]:
#dataset
df_customer = pd.read_csv('olist_customers_dataset.csv')
#df_customer.head()
df_customer.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [20]:
schema_customer = """
CREATE TABLE customer(
    customer_id                   TEXT,
    customer_unique_id            TEXT,
    customer_zip_code_prefix      INTEGER,
    customer_city                 TEXT,
    customer_state                TEXT)
"""

#create schema
#conn.execute(schema_customer)

#insert data into table
df_customer.to_sql('customer', con=conn, if_exists='append', index=False)

# Geolocation DB

In [24]:
#dataset
df_geolocation = pd.read_csv('olist_geolocation_dataset.csv')
#df_geolocation.head()
df_geolocation.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [26]:
schema_geolocation = """
CREATE TABLE geolocation(
    geolocation_zip_code_prefix      INTEGER,
    geolocation_lat                  REAL,
    geolocation_lng                  REAL,
    geolocation_city                 TEXT,
    geolocation_state                TEXT)
"""

#create schema
conn.execute(schema_geolocation)

#insert data into table
df_geolocation.to_sql('geolocation', con=conn, if_exists='append', index=False)

# Order list DB

In [27]:
#dataset
df_order_items = pd.read_csv('olist_order_items_dataset.csv')
#df_order_items.head()
df_order_items.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [28]:
schema_order_items = """
CREATE TABLE order_items(
    order_id                TEXT,
    order_item_id           INTEGER,
    product_id              TEXT,
    seller_id               TEXT,
    shipping_limit_date     TEXT,
    price                   REAL,
    freight_value           REAL)
"""

#create schema
conn.execute(schema_order_items)

#insert data into table
df_order_items.to_sql('order_items', con=conn, if_exists='append', index=False)

# Orders Payments DB

In [29]:
#dataset
df_order_payments = pd.read_csv('olist_order_payments_dataset.csv')
#df_order_payments.head()
df_order_payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [30]:
schema_order_payments = """
CREATE TABLE order_payments(
    order_id                 TEXT,
    payment_sequential       INTEGER,
    payment_type             TEXT,
    payment_installments     INTEGER,
    payment_value            REAL)
"""

#create schema
conn.execute(schema_order_payments)

#insert data into table
df_order_payments.to_sql('order_payments', con=conn, if_exists='append', index=False)

# Order Review DB

In [41]:
#dataset
df_order_reviews = pd.read_csv('olist_order_reviews_dataset.csv')
#df_order_reviews.head()
df_order_reviews.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [42]:
schema_order_reviews = """
CREATE TABLE order_reviews(
    review_id                  TEXT,
    order_id                    TEXT,
    review_score                INTEGER,
    review_comment_title        TEXT,
    review_comment_message      TEXT,
    review_creation_date        TEXT,
    review_answer_timestamp     TEXT)
"""

#create schema
conn.execute(schema_order_reviews)

#insert data into table
df_order_reviews.to_sql('order_reviews', con=conn, if_exists='append', index=False)

# Orders

In [43]:
#dataset
df_orders = pd.read_csv('olist_orders_dataset.csv')
#df_orders.head()
df_orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [45]:
schema_orders = """
CREATE TABLE orders(
    order_id                         TEXT,
    customer_id                      TEXT,
    order_status                     TEXT,
    order_purchase_timestamp         TEXT,
    order_approved_at                TEXT,
    order_delivered_carrier_date     TEXT,
    order_delivered_customer_date    TEXT,
    order_estimated_delivery_date    TEXT)
"""

#create schema
conn.execute(schema_orders)

#insert data into table
df_orders.to_sql('orders', con=conn, if_exists='append', index=False)

# Products DB

In [46]:
#dataset
df_products = pd.read_csv('olist_products_dataset.csv')
#df_products.head()
df_products.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [47]:
schema_products = """
CREATE TABLE products(
    product_id                     TEXT,
    product_category_name          TEXT,
    product_name_lenght            REAL,
    product_description_lenght     REAL,
    product_photos_qty             REAL,
    product_weight_g               REAL,
    product_length_cm              REAL,
    product_height_cm              REAL,
    product_width_cm               REAL)
"""

#create schema
conn.execute(schema_products)

#insert data into table
df_products.to_sql('products', con=conn, if_exists='append', index=False)

# Sellers DB

In [48]:
#dataset
df_sellers = pd.read_csv('olist_sellers_dataset.csv')
#df_sellers.head()
df_sellers.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [49]:
schema_sellers = """
CREATE TABLE sellers(
    seller_id                 TEXT,
    seller_zip_code_prefix    INTEGER,
    seller_city               TEXT,
    seller_state              TEXT)
"""

#create schema
conn.execute(schema_sellers)

#insert data into table
df_sellers.to_sql('sellers', con=conn, if_exists='append', index=False)

# Product Category DB

In [50]:
#dataset
df_product_category = pd.read_csv('product_category_name_translation.csv')
#df_product_category.head()
df_product_category.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [51]:
schema_product_category = """
CREATE TABLE product_category(
    product_category_name            TEXT,
    product_category_name_english    TEXT)
"""

#create schema
conn.execute(schema_product_category)

#insert data into table
df_product_category.to_sql('product_category', con=conn, if_exists='append', index=False)

# CHECK DATABASE

In [23]:
#query = """
#SELECT name
#FROM sqlite_master
#WHERE type = 'table'
#"""

#createw columns
query = """
    SELECT * FROM customer
"""

table = pd.read_sql_query(query,conn)
table

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

# DROP

In [40]:
#drop table
query = """
    DROP TABLE order_reviews
    
"""

conn = sqlite3.connect('db_olist.sqlite')
cursor = conn.execute(query)
conn.commit()
conn.close()

OperationalError: no such table: order_reviews