In [383]:
#!pip install beautifulsoup4
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd
import numpy as np

In [384]:
#classics
url = 'http://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html'
    
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36'}
page = requests.get (url, headers=headers)

soup = BeautifulSoup (page.text, 'html.parser')

In [385]:
books = soup.find('ol', class_='row')
#books_list = products.find_all('li', class_='col-xs-6 col-sm-4 col-md-3 col-lg-3')

In [386]:
#name
books_list = books.find_all('a')
books_name = [p.get('title') for p in books_list]
books_name = list(filter(None, books_name))
df_name = pd.DataFrame(books_name, columns = ['name'])

df_name

                                                 name
0   Mesaerion: The Best Science Fiction Stories 18...
1                                                Join
2   William Shakespeare's Star Wars: Verily, A New...
3                                         The Project
4                                     Soft Apocalypse
5                   Sleeping Giants (Themis Files #1)
6                                               Arena
7      Foundation (Foundation (Publication Order) #1)
8   The Restaurant at the End of the Universe (Hit...
9                                    Ready Player One
10  Life, the Universe and Everything (Hitchhiker'...
11                                     Dune (Dune #1)
12  Do Androids Dream of Electric Sheep? (Blade Ru...
13        Three Wishes (River of Time: California #1)
14            The Last Girl (The Dominion Trilogy #1)
15  Having the Barbarian's Baby (Ice Planet Barbar...

In [387]:
#rating
books_list = books.find_all('p', class_='star-rating')
books_rating = [p.get('class') for p in books_list]
rates = []
for i in range(len(books_rating)):
    rates.append(books_rating[i][1])
df_rate = pd.DataFrame(rates, columns=['rating'])

df_rate

   rating
0     One
1    Five
2    Four
3     One
4     Two
5     One
6    Four
7     One
8     One
9    Four
10    Two
11    One
12    One
13    Two
14    Two
15   Four

In [388]:
#price
books_list = books.find_all( 'p', class_='price_color' )
books_price = [p.get_text().replace('Â','') for p in books_list]
df_price = pd.DataFrame(books_price, columns = ['price'])

df_price

     price
0   £37.59
1   £35.67
2   £43.30
3   £10.65
4   £26.12
5   £48.74
6   £21.36
7   £32.42
8   £10.92
9   £19.07
10  £33.26
11  £54.86
12  £51.48
13  £44.18
14  £36.26
15  £34.96

In [389]:
#availability
books_list = books.find_all( 'p', class_='instock availability' )
books_available = [p.get_text().replace('\n','') for p in books_list]
df_available = pd.DataFrame(books_available, columns = ['availability'])

df_available

                availability
0               In stock
1               In stock
2               In stock
3               In stock
4               In stock
5               In stock
6               In stock
7               In stock
8               In stock
9               In stock
10              In stock
11              In stock
12              In stock
13              In stock
14              In stock
15              In stock

In [390]:
#classics dataframe
df_classics = pd.DataFrame([books_name, rates, books_price, books_available]).T
df_classics.columns = ['name', 'price', 'rating', 'availability']

df_classics

,name,price,rating,availability
0,Mesaerion: The Best Science Fiction Stories 18...,One,£37.59,In stock
1,Join,Five,£35.67,In stock
2,"William Shakespeare's Star Wars: Verily, A New...",Four,£43.30,In stock
3,The Project,One,£10.65,In stock
4,Soft Apocalypse,Two,£26.12,In stock
5,Sleeping Giants (Themis Files #1),One,£48.74,In stock
6,Arena,Four,£21.36,In stock
7,Foundation (Foundation (Publication Order) #1),One,£32.42,In stock
8,The Restaurant at the End of the Universe (Hit...,One,£10.92,In stock
9,Ready Player One,Four,£19.07,In stock
10,"Life, the Universe and Everything (Hitchhiker'...",Two,£33.26,In stock
11,Dune (Dune #1),One,£54.86,In stock
12,Do Androids Dream of Electric Sheep? (Blade Ru...,One,£51.48,In stock
13,Three Wishes (River of Time: California #1),Two,£44.18,In stock
14,The Last Girl (The Dominion Trilogy #1),Two,£36.26,In stock
15,Having the Barbarian's Baby (Ice Planet Barbar...,Four,£34.96,In stock